{{!< frontend}}

{{> frontend-title}}

<section class="section-padding">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="posts-content default-blog">

                    {{#if search}}
                        <h3><strong>Hasil pencarian "{{query}}"</strong></h3>
                    {{/if}}

                    {{frontendnewslist news}}

                    <ul class="pagination post-pagination text-center mt-50">

                        {{#if search}}
                            {{{frontendpaginewssearch pagi query}}}
                        {{else}}
                            {{{frontendpaginews pagi}}}
                        {{/if}}

                    </ul>

                </div><!-- /.posts-content -->
            </div><!-- /.col-md-8 -->

            <div class="col-md-4">
                <div class="tt-sidebar-wrapper" role="complementary">
                    <div class="widget widget_search">
                        <form role="search" method="get" action="/news/list/1" class="search-form">
                            <input type="text" class="form-control" value="" name="search" id="search"
                            placeholder="Cari berita ...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <div class="widget widget_tt_popular_post">
                        <div class="tt-popular-post border-bottom-tab">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs hidden-xs">
                                <li class="active" style="width: 50%;text-align: center;">
                                    <a href="#tt-popular-post-tab1" data-toggle="tab" aria-expanded="true">Populer</a>
                                </li>
                                <li class="" style="width: 50%;text-align: center;">
                                    <a href="#tt-popular-post-tab2" data-toggle="tab" aria-expanded="false">Terbaru</a>
                                </li>
                            </ul>
                            <div class="panel-group visible-xs" id="undefined-accordion"></div>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- latest post tab -->
                                <div id="tt-popular-post-tab1" class="tab-pane fade active in">

                                    {{newslistpopuler newsRandom}}

                                </div>

                                <!-- popular post tab-->
                                <div id="tt-popular-post-tab2" class="tab-pane fade" style="margin-top: -14px;">

                                    {{newslistterbaru newsLatest}}

                                </div>
                            </div><!-- /.tab-content -->
                        </div><!-- /.tt-popular-post -->
                    </div>

                </div><!-- /.tt-sidebar-wrapper -->
            </div><!-- /.col-md-4 -->

        </div>

    </div>
</section>
