<!-- Top bar -->
<div class="top-bar dark-bg lighten-2 visible-md visible-lg">
    <div class="container">
        <div class="row">
            <!-- Social Icon -->
            <div class="col-md-6">
                <!-- Social Icon -->
                <ul class="list-inline social-top tt-animate btt">
                    <li><a href="http://{{contact.instagram}}"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="http://{{contact.facebook}}"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://{{contact.twitter}}"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://{{contact.googleplus}}"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="http://{{contact.linkin}}"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

            <div class="col-md-6 text-right">
                <ul class="topbar-cta no-margin">
                    <li class="mr-20">
                        <a href="mailto:{{contact.email}}"><i class="material-icons mr-10">&#xE0B9;</i>{{contact.email}}</a>
                    </li>
                    <li>
                        <a><i class="material-icons mr-10">&#xE0CD;</i>{{contact.telp}} | {{contact.handphone}}</a>
                    </li>
                </ul>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.top-bar -->