<footer class="footer footer-four">
    <div class="primary-footer dark-bg lighten-1 text-center">
        <div class="container">

            <a href="#top" class="page-scroll btn-floating btn-large pink back-top waves-effect waves-light"
               data-section="#top">
                <i class="material-icons">&#xE316;</i>
            </a>

            <ul class="social-link tt-animate ltr mt-20">
                <li><a href="http://{{contact.instagram}}"><i class="fa fa-instagram"></i></a></li>
                <li><a href="http://{{contact.facebook}}"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://{{contact.twitter}}"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://{{contact.googleplus}}"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="http://{{contact.linkin}}"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <hr class="mt-15">

            <div class="row">
                <div class="col-md-12">
                    <div class="footer-logo">
                        <img src="/src/frontend/assets/img/logo-white.png" alt="">
                    </div>

                    <span class="copy-text">Copyright &copy; 2016 <a href="/">{{about.name}}</a> &nbsp; | &nbsp;  All Rights Reserved &nbsp; | &nbsp;  Created by <a
                            href="https://alfacode.me" target="_blank">Alfacode.me</a></span>
                    <div class="footer-intro">
                        <p>Kantor Akuntan Ashari, CPA beralamat di {{contact.address}},  Telp {{contact.telp}} atau {{contact.handphone}}</p>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.primary-footer -->

    <div class="secondary-footer dark-bg lighten-2 text-center">
        <div class="container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">Tentang Kami</a></li>
                <li><a href="/team">Staff</a></li>
                <li><a href="/service">Layanan</a></li>
                <li><a href="/client">Klien</a></li>
                <li><a href="/news">Berita</a></li>
                <li><a href="/files">Files</a></li>
                <li><a href="/contact">Kontak</a></li>
            </ul>
        </div><!-- /.container -->
    </div><!-- /.secondary-footer -->
</footer>